* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

.header {
    display: grid;
    background-color: #FFFFFF;
    min-height: 100px;
    height: 1fr;
    grid-row: 1;
    grid-column: 2;
    border: 1px solid red;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.toolbar {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    } 

.search-container > button {
    align-content: center;
    grid-column: 1;
    grid-row: 1;
    padding: 0;
}

.profile-info-container {
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1;
}

form > #search-bar {
    border-radius: 10px;
    background-color: #e2e8f0;
    width: 300px;
    height: 25px;

}

.action-bar {
    grid-row: 2;

}

.sidebar {
    display: grid;
    background-color: lightblue;
    min-width: 100px;
    grid-column: 1;
    grid-row: 1 / span 2;
    border: 1px solid red;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
}

.branding {
    grid-row: 1;
}

.nav {
    grid-row: 2;
}

.main-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
    gap: 20px;
}

ul {
    list-style: none;
    grid-column: 2;
    grid-row: 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    padding: 20px;
    border-left: 5px solid orange;
    border-radius: 10px;
    background-color: white;
}

.card > h1 {
    font-size: 20px;
}

.content-side {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
}

.announcements > ul > li > h1 {
    font-size: 16px;
}

.announcements > ul > li {
    font-size: 14px;
    margin: 15px;
}

.announcements > ul {
    padding: 20px;
}

.announcements > ul:nth-child(n) {
    grid-row :n; 
}

.announcements > ul:nth-child(2) {
    border-top: 2px dashed black;
    border-bottom: 2px dashed grey; 
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
}

.trending > ul:nth-child(n) {
    grid-column: 1;
    grid-row: n;
}
