* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.board-cell {
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 10em;
    justify-content: center;
    background-color: #d4d4d4;
}
