* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.board {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.board-cell {
    height: 150px;
    background-color: #d4d4d4;
}

